<section class="pricing py-5">
    <div class="container">
        <div class="container-fluid">
            <h2>Selecciona tu plan</h2> <br>
        </div>
        <div class="row">
            <!-- Free Tier -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center" style="color: #F24516;">Gratis</h5>
                        <h6 class="card-price text-center">$0<span class="period">/mes</span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Usuario único</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>5GB almacenamiento</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Proyectos públicos limitados</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a comunidad</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Proyectos privados sin límite</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Soporte técnico</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dominios gratis</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Reportes mensuales</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Obtener</a>
                    </div>
                </div>
            </div>
            <!-- Plus Tier -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Plus</h5>
                        <h6 class="card-price text-center">$9<span class="period">/mes</span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>5 Empresas o usuarios</strong></li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>50GB almacenamiento</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Proyectos públicos ilimitados</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a comunidad</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Proyectos privados sin límite</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Soporte técnico</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Dominios gratis</li>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span> Status Reportes mensuales</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Comprar</a>
                    </div>
                </div>
            </div>
            <!-- Pro Tier -->
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">Pro</h5>
                        <h6 class="card-price text-center">$49<span class="period">/mes</span></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Usuarios o empresas sin límite</strong></li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>150GB almacenamiento</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Proyectos públicos ilimitados</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a comunidad</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Proyectos privados sin límite</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Soporte técnico dedicado</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>ilimitado</strong>Dominios gratis</li>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Status reportes mensuales</li>
                        </ul>
                        <a href="#" class="btn btn-block btn-primary text-uppercase">Comprar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>